In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from get_50_day_moving_average import get_50_day_moving_average

In [2]:
df = pd.read_excel('Open Investment Data 2020-2024.xlsx', '2020-2024 with Splits')

In [20]:
df['Currency (Price / share)'][1] is np.nan

False

In [74]:
df_meta = pd.read_excel('Open Investment Data 2020-2024.xlsx', 'Company MetaData-2024')

In [73]:
df_meta.columns

Index(['Row Number', 'Company Name', 'Ticker Symbol',
       'Date of First (Oldest)\n Purchase',
       'Date of Last (Most Recent) \nPurchase',
       'Total Number of Shares\nPurchased',
       'Total Number of Shares after Split', 'Total Purchase Amount GBP',
       'Total Purchase Amount USD',
       'Average Price per Share GBP\n(=Total Purchase Amount / Total Number of Shares)',
       'Average Price per Share USD\n(=Total Purchase Amount / Total Number of Shares) ',
       'Average Price per Share after Split GBP',
       'Average Price per Share after Split USD',
       'Date of First (Oldest) \nSell', 'Date of Last (Most Recent) \nSell',
       'Total Number of Shares Sold',
       'Total Number of Shares Sold after Split', 'Total Sales Amount GBP',
       'Total Sales Amount USD',
       'Average Sale Price per Share GBP (=Total Sale Amount / Total Number of Shares Sold)\n',
       'Average Sale Price per Share USD (=Total Sale Amount / Total Number of Shares Sold)\n',
       'Average Sale Price per Share after split GBP',
       'Average Sale Price per Share after split USD',
       'Net Total Number of Shares (=Purchased - Sold)\n',
       'Net Total Number of Shares after Split (Used?)',
       'Current Share Price GBP\n(Yahoo & Google Finance)',
       'Current Share Price USD\n(Yahoo & Google Finance)', 'Total Dividends ',
       'Realized Capital Gain & Loss (=total number of shares sold*average sale price/share) - (total number of shares sold*average purchase price/share)\n',
       'Realized Capital Gain & Loss after Stock Split\n',
       'Realized Capital Gain & Loss (=based on the Sum in Result Column for Market Sells)\n',
       'Unrealized Capital Gain & Loss\n(=total number of shares held*current price per share) - (total number of shares held*average purchase price)',
       'Unrealized Capital Gains after Stock Split', 'Stock Split Date',
       'Stock Split Ratio (new number / previous number) e.g., 2 for 1 = 2 / 1',
       'Notes', 'Unnamed: 36', 'Unnamed: 37',
       'Realized Capital Gain & Loss (=total number of shares*average sale price) - (total number of shares*average purchase price)\n',
       'Unrealized Capital Gain & Loss\n(=total number of shares*current price per share) - (total number of shares*average purchase price)',
       'Average Price per Share USD'],
      dtype='object')

roi = (current price per share usd - average price per share) / average price per share

In [75]:
df_meta['Average Price per Share USD'] = np.where(df_meta['Average Price per Share after Split USD'].isnull(),
                                                  df_meta['Average Price per Share USD\n(=Total Purchase Amount / Total Number of Shares) '],
                                                  df_meta['Average Price per Share after Split USD'],
)
# replace na with 0
df_meta['Average Price per Share USD'] = df_meta['Average Price per Share USD'].apply(
    lambda x: 0 if pd.isna(x) else x
)
# calculate roi and replace na by 0
df_meta['ROI'] = (df_meta['Current Share Price USD\n(Yahoo & Google Finance)'] - df_meta['Average Price per Share USD']) / df_meta['Average Price per Share USD']
df_meta['ROI'] = df_meta['ROI'].apply(lambda x: 0 if pd.isna(x) else x)

KeyError: 'Current Share Price USD\n (Yahoo & Google  Finance)'

In [72]:
for i in range(len(df_meta)):
    roi = df_meta['ROI'][i]
    if roi == np.inf:
        print(i)

KeyError: 'ROI'

In [51]:
df_meta[['Row Number', 'Ticker Symbol', 'ROI']]

   Row Number Ticker Symbol       ROI
0           1           MMM -0.281446
1           2           AOS  0.254255
2           3          ABBV  0.574366
3           4         GOOGL -0.080099
4           5           AWR  0.037990
..        ...           ...       ...
81         82            WM  0.662279
82         83          WELL  0.900710
83         84           NNN  0.103534
84         85          AMZN  0.025797
85     CWEN.A           NaN  0.000000

[86 rows x 3 columns]

In [3]:
df['Price / share adjusted for split(s) (USD)']

0              NaN
1              NaN
2              NaN
3              NaN
4        22.160121
           ...
3294           NaN
3295           NaN
3296           NaN
3297    212.600000
3298    181.600000
Name: Price / share adjusted for split(s) (USD), Length: 3299, dtype: float64

In [2]:
df = pd.read_csv('2020-2024-split.csv')
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], format='%Y/%m/%d')
# df = df[(df['Action'] == 'Market buy') | (df['Action'] == 'Market sell')]
df_meta = pd.read_csv('company meta 2020-2024.csv')

In [3]:
SNOW = pd.read_csv('stocksprice/SNOW_2020-09-16_2021-02-22_50_day_MA.csv')

In [4]:
def showBuyAndSell(ticker):
    print(df[(df['Action'].isin(['Market buy', 'Market sell']))&(df['Ticker'] == ticker)].groupby('Action')['No. of shares'].sum())

In [7]:
for ticker in ['LVGO', 'DLR', 'NLY', 'MRK', 'AOS', 'NYMT']:
    print(ticker)
    showBuyAndSell(ticker)

LVGO
Action
Market buy    8.5
Name: No. of shares, dtype: float64
DLR
Action
Market buy     101.0
Market sell     37.0
Name: No. of shares, dtype: float64
NLY
Action
Market buy     945.5
Market sell    488.0
Name: No. of shares, dtype: float64
MRK
Action
Market buy     54.0
Market sell     8.0
Name: No. of shares, dtype: float64
AOS
Action
Market buy     87.0
Market sell     6.0
Name: No. of shares, dtype: float64
NYMT
Action
Market buy     1643.5
Market sell     706.0
Name: No. of shares, dtype: float64

In [57]:
df[(df['Action'].isin({'Market buy', 'Market sell'})) & (df['Ticker'] == 'LVGO')]

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Price / share adjusted for split(s),Currency (Price / share),Exchange rate,...,Stamp duty reserve tax,Currency (Stamp duty reserve tax),Notes,ID,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
31,Market buy,2020-07-09,13:30:12,LVGO,Livongo,3.5,98.97,NaN,USD,1.2667,...,NaN,NaN,NaN,EOF305052094,NaN,NaN,NaN,NaN,NaN,NaN
33,Market buy,2020-07-31,13:30:16,LVGO,Livongo,5.0,126.57,NaN,USD,1.31455,...,NaN,NaN,NaN,EOF343980549,NaN,NaN,NaN,NaN,NaN,NaN

:

In [6]:
sell_df = df[df['Action'] == 'Market sell']

In [70]:
dividend_actions = [
        'Dividend (Ordinary)',
        'Dividend (Return of capital non us)',
        'Dividend (Demerger)',
        'Dividend (Bonus)',
        'Dividend (Ordinary manufactured payment)',
        'Dividend (Dividends paid by us corporations)',
        'Dividend (Dividends paid by foreign corporations)',
        'Dividend (Dividend)'
    ]

df[(df['Action'].isin(dividend_actions))&(df['Action'] == 'Dividend (Bonus)')].sort_values('Price / share')

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Price / share adjusted for split(s),Currency (Price / share),Exchange rate,...,Stamp duty reserve tax,Currency (Stamp duty reserve tax),Notes,ID,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
976,Dividend (Bonus),2021-12-24,7:39:30,O,Realty Income,40.0,0.00,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1731,Dividend (Bonus),2022-12-20,8:30:16,HRZN,Horizon Technology Finance,140.0,0.04,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1732,Dividend (Bonus),2022-12-20,8:30:16,HRZN,Horizon Technology Finance,256.0,0.04,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,Dividend (Bonus),2021-09-07,9:11:47,LTC,LTC Properties,25.0,0.16,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,Dividend (Bonus),2021-09-07,9:11:47,LTC,LTC Properties,45.0,0.16,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1496,Dividend (Bonus),2022-08-05,7:40:58,PSA,Public Storage,4.0,11.18,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1499,Dividend (Bonus),2022-08-05,7:40:58,PSA,Public Storage,9.0,11.18,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
buy_sell_dividend_df = df[df['Action'].isin(dividend_actions+['Market buy', 'Market sell'])]

In [63]:
buy_sell_dividend_df[buy_sell_dividend_df['Ticker'] == 'STOR']

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Price / share adjusted for split(s),Currency (Price / share),Exchange rate,...,Stamp duty reserve tax,Currency (Stamp duty reserve tax),Notes,ID,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
69,Market buy,2020-10-06,16:02:49,STOR,STORE Capital,38.000000,28.95,NaN,USD,1.29438,...,NaN,NaN,NaN,EOF472936374,NaN,NaN,NaN,NaN,NaN,NaN
108,Market buy,2020-11-20,15:57:27,STOR,STORE Capital,10.000000,31.79,NaN,USD,1.32839,...,NaN,NaN,NaN,EOF567740720,NaN,NaN,NaN,NaN,NaN,NaN
120,Market buy,2020-11-27,17:06:20,STOR,STORE Capital,10.000000,33.38,NaN,USD,1.33019,...,NaN,NaN,NaN,EOF610958736,NaN,NaN,NaN,NaN,NaN,NaN
125,Market buy,2020-12-01,18:25:53,STOR,STORE Capital,8.000000,32.71,NaN,USD,1.34197,...,NaN,NaN,NaN,EOF620980708,NaN,NaN,NaN,NaN,NaN,NaN
172,Dividend (Ordinary),2021-01-19,11:12:11,STOR,STORE Capital,66.000000,0.31,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,Dividend (Ordinary),2021-04-19,16:40:38,STOR,STORE Capital,66.000000,0.31,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,Dividend (Ordinary),2021-07-20,12:47:47,STOR,STORE Capital,66.000000,0.31,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727,Market buy,2021-08-25,13:30:01,STOR,STORE Capital,2.000000,35.30,NaN,USD,1.37018,...,NaN,NaN,NaN,NaN,NaN,EOF1512818151,0.08,GBP,NaN,NaN
745,Market buy,2021-08-31,14:26:00,STOR,STORE Capital,3.000000,35.73,NaN,USD,1.37866,...,NaN,NaN,NaN,EOF1522444431,0.12,GBP,NaN,NaN,NaN,NaN
746,Market buy,2021-08-31,14:26:18,STOR,STORE Capital,1.000000,35.70,NaN,USD,1.37851,...,NaN,NaN,NaN,EOF1522444470,0.04,GBP,NaN,NaN,NaN,NaN
772,Market buy,2021-09-20,15:06:09,STOR,STORE Capital,1.000000,34.20,NaN,USD,1.36711,...,NaN,NaN,NaN,NaN,NaN,EOF1553377404,0.04,GBP,NaN,NaN
773,Market buy,2021-09-20,15:06:39,STOR,STORE Capital,1.000000,34.21,NaN,USD,1.36707,...,NaN,NaN,NaN,NaN,NaN,EOF1553377459,0.04,GBP,NaN,NaN
830,Dividend (Ordinary),2021-10-18,13:36:20,STOR,STORE Capital,70.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,Dividend (Ordinary),2021-10-18,13:36:20,STOR,STORE Capital,4.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,Market buy,2021-11-02,18:17:17,STOR,STORE Capital,15.000000,34.64,NaN,USD,1.36156,...,NaN,NaN,NaN,NaN,NaN,EOF1646195165,0.57,GBP,NaN,NaN
875,Market buy,2021-11-02,18:18:32,STOR,STORE Capital,1.000000,34.65,NaN,USD,1.36161,...,NaN,NaN,NaN,NaN,NaN,EOF1646195285,0.04,GBP,NaN,NaN
949,Market buy,2021-12-20,20:38:04,STOR,STORE Capital,1.000000,32.46,NaN,USD,1.32058,...,NaN,NaN,NaN,NaN,NaN,EOF1718701493,0.04,GBP,NaN,NaN
1026,Dividend (Ordinary),2022-01-19,10:12:47,STOR,STORE Capital,87.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,Dividend (Ordinary),2022-01-19,10:12:47,STOR,STORE Capital,4.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,Market buy,2022-01-25,16:48:23,STOR,STORE Capital,2.000000,30.18,NaN,USD,1.34923,...,NaN,NaN,NaN,EOF1763987120,0.07,GBP,NaN,NaN,NaN,NaN
1083,Market buy,2022-02-23,14:30:01,STOR,STORE Capital,9.883381,30.50,NaN,USD,1.35875,...,NaN,NaN,NaN,EOF1801049642,0.33,GBP,NaN,NaN,NaN,NaN
1085,Market buy,2022-02-23,14:30:18,STOR,STORE Capital,3.116619,30.59,NaN,USD,1.35869,...,NaN,NaN,NaN,EOF1801702652,0.11,GBP,NaN,NaN,NaN,NaN
1197,Market sell,2022-04-11,14:36:06,STOR,STORE Capital,100.000000,29.67,NaN,USD,1.30307,...,0.01,0.01,NaN,EOF1869272127,3.42,GBP,GBP,GBP,NaN,NaN
1246,Market buy,2022-04-11,14:36:56,STOR,STORE Capital,100.000000,29.67,NaN,USD,1.30258,...,NaN,NaN,NaN,EOF1869324015,3.42,GBP,NaN,NaN,NaN,NaN
1286,Dividend (Ordinary),2022-04-19,8:44:35,STOR,STORE Capital,100.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1289,Dividend (Ordinary),2022-04-19,8:44:35,STOR,STORE Capital,6.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329,Market buy,2022-05-13,17:21:10,STOR,STORE Capital,15.000000,27.08,NaN,USD,1.2245,...,NaN,NaN,NaN,EOF1910416968,0.5,GBP,NaN,NaN,NaN,NaN
1355,Market buy,2022-05-20,13:30:05,STOR,STORE Capital,10.000000,26.39,NaN,USD,1.24902,...,NaN,NaN,NaN,EOF1918004308,0.32,GBP,NaN,NaN,NaN,NaN
1365,Market buy,2022-05-31,13:30:16,STOR,STORE Capital,15.000000,27.26,NaN,USD,1.25825,...,NaN,NaN,NaN,EOF1929588500,0.49,GBP,NaN,NaN,NaN,NaN
1369,Market buy,2022-05-31,14:50:46,STOR,STORE Capital,2.000000,27.21,NaN,USD,1.26021,...,NaN,NaN,NaN,EOF1930807359,0.06,GBP,NaN,NaN,NaN,NaN
1442,Dividend (Ordinary),2022-07-18,11:16:50,STOR,STORE Capital,40.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,Dividend (Ordinary),2022-07-18,11:16:50,STOR,STORE Capital,108.000000,0.33,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,Dividend (Ordinary),2022-10-18,7:56:41,STOR,STORE Capital,40.000000,0.35,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,Dividend (Ordinary),2022-10-18,7:56:41,STOR,STORE Capital,108.000000,0.35,NaN,USD,Not available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1817,Market sell,2023-02-06,8:19:14,STOR,STORE Capital,40.000000,32.25,NaN,USD,1.20581,...,NaN,NaN,NaN,EOF2253136230,NaN,NaN,NaN,NaN,NaN,NaN
1827,Market sell,2023-02-06,8:19:25,STOR,STORE Capital,108.000000,32.25,NaN,USD,1.20581,...,NaN,NaN,NaN,EOF2253037745,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df['Action'].unique()

array(['Deposit', 'Market buy', 'Dividend (Ordinary)',
       'Dividend (Return of capital non us)', 'Market sell', 'Withdrawal',
       'Dividend (Demerger)', 'Dividend (Bonus)',
       'Dividend (Ordinary manufactured payment)', 'Company Acquisition',
       nan, 'Dividend (Dividends paid by us corporations)',
       'Interest on cash',
       'Dividend (Dividends paid by foreign corporations)',
       'Dividend (Dividend)'], dtype=object)

In [28]:

from get_50_day_moving_average import get_50_day_moving_average


def getStockPrice(df):
    df_ticker_date = df.groupby('Ticker').agg({
        'Transaction Date': ['min', 'max']
    })
    minDateDict = df_ticker_date['Transaction Date'].to_dict()['min']
    maxDateDict = df_ticker_date['Transaction Date'].to_dict()['max']
    tickerDate = {}
    for ticker in df_ticker_date.index:
        min_date = minDateDict[ticker]
        max_date = maxDateDict[ticker]
        price_data, error = get_50_day_moving_average(
            ticker, min_date.strftime("%Y-%m-%d"), max_date.strftime("%Y-%m-%d"))
        if error:
            print(error)
        else:
            tickerDate[ticker] = {
                'min': min_date,
                'max': max_date,
                'price': price_data
            }

    
    return tickerDate

In [30]:
stockPrice = getStockPrice(df, df_meta)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
Failed to get ticker 'CWEN/A' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CWEN/A']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data found for CWEN/A between 2021-09-18 and 2023-11-29

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['LVGO']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data found for LVGO between 2020-03-31 and 2020-07-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['PBCT']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data found for PBCT between 2020-01-21 and 2022-04-05

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['STOR']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data found for STOR between 2020-06-28 and 2023-02-06

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['WORK']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data found for WORK between 2020-11-09 and 2021-02-18

[*********************100%%**********************]  1 of 1 completed

In [54]:

def addGainAndLossToStockPrice(stockPrice, df_meta):
    # add gain
    for index, row in df_meta.iterrows():
        if row['Ticker Symbol'] in stockPrice.keys():
            stockPrice[row['Ticker Symbol']]['Realized Capital Gain & Loss'] = row['Realized Capital Gain & Loss']

In [78]:
for _, row in df_meta.iterrows():
    print(row['Ticker Symbol'])

MMM
AOS
ABBV
GOOGL
AWR
AMT
NLY
AAPL
T
ADBE
AMAT
BYND
BTBT
AVGO
CAT
CWEN
CWEN/A
NET
CMCSA
COST
CRON
CVS
DLR
ECL
WTRG
EXPE
EXR
FSLY
GOOD
GMRE
HASI
HI
HD
HON
HRZN
ICE
INTU
JNJ
JPM
LVGO
LTC
MTB
MDT
MRK
META
MA
MCO
NG
NFLX
NYMT
NEE
NKE
OHI
ONL
PBCT
PETS
PSA
QCOM
O
RIOT
RITM
CRM
STX
SCI
SBNY
SICP
SPG
WORK
SNOW
SEDG
STOR
SPGI
TGT
UBER
UNP
UNH
VZ
VICI
V
DIS
WBD
WM
WELL

In [55]:
addGainAndLossToStockPrice(stockPrice, df_meta)

In [56]:
stockPrice

{'AAPL': {'min': Timestamp('2020-07-01 00:00:00'),
  'max': Timestamp('2023-11-28 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2020-07-01   91.027496   80.744700
  2020-07-02   91.027496   81.184750
  2020-07-06   93.462502   81.678850
  2020-07-07   93.172501   82.127450
  2020-07-08   95.342499   82.618450
  ...                ...         ...
  2023-11-20  191.449997  177.152601
  2023-11-21  190.639999  177.439401
  2023-11-22  191.309998  177.781401
  2023-11-24  189.970001  178.066001
  2023-11-27  189.789993  178.361601

  [858 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'ABBV': {'min': Timestamp('2020-11-27 00:00:00'),
  'max': Timestamp('2023-11-28 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2020-11-27  104.889999   90.455999
  2020-11-30  104.580002   90.745399
  2020-12-01  104.040001   91.044400
  2020-12-02  104.989998   91.372200
  2020-12-03  104.739998   91.724200
  ...                ...         ...
  2023-11-20  138.309998  146.367199
  2023-11-21  138.729996  146.156399
  2023-11-22  138.470001  145.902599
  2023-11-24  138.669998  145.603199
  2023-11-27  139.089996  145.342599

  [754 rows x 2 columns],
  'Realized Capital Gain & Loss': -18.19},
 'ADBE': {'min': Timestamp('2023-11-10 00:00:00'),
  'max': Timestamp('2023-11-29 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2023-11-10  597.219971  541.192401
  2023-11-13  590.340027  541.735001
  2023-11-14  604.330017  542.524001
  2023-11-15  595.309998  543.191401
  2023-11-16  602.059998  544.023400
  2023-11-17  602.659973  544.869400
  2023-11-20  612.700012  545.833400
  2023-11-21  610.989990  547.209000
  2023-11-22  619.719971  548.532199
  2023-11-24  619.429993  549.877599
  2023-11-27  619.270020  551.685200
  2023-11-28  623.320007  553.503200,
  'Realized Capital Gain & Loss': 0.0},
 'AMAT': {'min': Timestamp('2023-08-30 00:00:00'),
  'max': Timestamp('2023-12-05 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2023-08-30  150.949997  143.379000
  2023-08-31  152.759995  143.700800
  2023-09-01  153.990005  144.002200
  2023-09-05  153.610001  144.353000
  2023-09-06  153.179993  144.620600
  ...                ...         ...
  2023-11-28  148.059998  140.974398
  2023-11-29  149.360001  141.207398
  2023-11-30  149.779999  141.463598
  2023-12-01  151.589996  141.791598
  2023-12-04  148.270004  142.033598

  [67 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'AMT': {'min': Timestamp('2020-10-15 00:00:00'),
  'max': Timestamp('2023-10-20 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2020-10-15  239.600006  247.213399
  2020-10-16  242.720001  246.957599
  2020-10-19  239.600006  246.597400
  2020-10-20  243.800003  246.405200
  2020-10-21  241.740005  246.316000
  ...                ...         ...
  2023-10-13  166.960007  174.450601
  2023-10-16  169.179993  174.138801
  2023-10-17  166.910004  173.806601
  2023-10-18  162.779999  173.370001
  2023-10-19  159.429993  172.816600

  [758 rows x 2 columns],
  'Realized Capital Gain & Loss': 74.71},
 'AOS': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-11-17 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2021-02-17  59.259998    56.8300
  2021-02-18  58.150002    56.8918
  2021-02-19  59.639999    56.9784
  2021-02-22  61.849998    57.0936
  2021-02-23  61.759998    57.1754
  ...               ...        ...
  2023-11-10  72.820000    68.5826
  2023-11-13  73.379997    68.5788
  2023-11-14  76.019997    68.6604
  2023-11-15  75.000000    68.7234
  2023-11-16  75.639999    68.8018

  [694 rows x 2 columns],
  'Realized Capital Gain & Loss': -19.38},
 'AVGO': {'min': Timestamp('2020-06-05 00:00:00'),
  'max': Timestamp('2022-01-04 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-06-05  31.708000   26.63546
  2020-06-08  31.752001   26.78416
  2020-06-09  31.532000   26.95342
  2020-06-10  31.504000   27.10328
  2020-06-11  29.375000   27.21658
  ...               ...        ...
  2021-12-28  66.900002   57.16520
  2021-12-29  67.261002   57.50370
  2021-12-30  66.508003   57.81308
  2021-12-31  66.541000   58.12512
  2022-01-03  66.332001   58.42346

  [399 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'AWR': {'min': Timestamp('2020-12-14 00:00:00'),
  'max': Timestamp('2023-10-11 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-12-14  76.400002    76.1834
  2020-12-15  78.709999    76.2296
  2020-12-16  78.309998    76.2602
  2020-12-17  80.050003    76.3428
  2020-12-18  78.190002    76.3758
  ...               ...        ...
  2023-10-04  77.650002    84.1142
  2023-10-05  79.160004    83.9332
  2023-10-06  79.309998    83.7858
  2023-10-09  79.959999    83.6236
  2023-10-10  80.059998    83.4566

  [710 rows x 2 columns],
  'Realized Capital Gain & Loss': 227.54},
 'BTBT': {'min': Timestamp('2020-12-31 00:00:00'),
  'max': Timestamp('2021-02-10 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-12-31  21.910000     6.0911
  2021-01-04  29.270000     6.5974
  2021-01-05  28.000000     7.0774
  2021-01-06  25.730000     7.5128
  2021-01-07  24.790001     7.9282
  2021-01-08  25.030001     8.3504
  2021-01-11  18.760000     8.6536
  2021-01-12  19.650000     8.9708
  2021-01-13  18.160000     9.2590
  2021-01-14  18.120001     9.5454
  2021-01-15  16.660000     9.8006
  2021-01-19  16.459999    10.0456
  2021-01-20  16.719999    10.2940
  2021-01-21  16.360001    10.5420
  2021-01-22  17.469999    10.8202
  2021-01-25  16.370001    11.0700
  2021-01-26  17.660000    11.3470
  2021-01-27  16.110001    11.5860
  2021-01-28  19.540001    11.8900
  2021-01-29  19.420000    12.1702
  2021-02-01  18.219999    12.4152
  2021-02-02  18.540001    12.6732
  2021-02-03  18.549999    12.9202
  2021-02-04  18.990000    13.1780
  2021-02-05  17.510000    13.4048
  2021-02-08  25.600000    13.7906
  2021-02-09  24.549999    14.1362,
  'Realized Capital Gain & Loss': -42.36},
 'BYND': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-08-09 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-17  167.869995  146.846599
  2021-02-18  167.089996  147.395999
  2021-02-19  160.220001  147.861599
  2021-02-22  150.860001  148.064399
  2021-02-23  149.419998  148.314199
  ...                ...         ...
  2023-08-02   15.790000   13.590100
  2023-08-03   15.960000   13.692300
  2023-08-04   15.740000   13.785100
  2023-08-07   15.280000   13.861900
  2023-08-08   13.100000   13.906700

  [623 rows x 2 columns],
  'Realized Capital Gain & Loss': -2224.87},
 'CAT': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-11-28 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-17  202.300003  187.526400
  2021-02-18  199.919998  187.880600
  2021-02-19  209.910004  188.504600
  2021-02-22  218.059998  189.289000
  2021-02-23  220.179993  190.091199
  ...                ...         ...
  2023-11-20  250.449997  258.771998
  2023-11-21  249.410004  258.123998
  2023-11-22  246.009995  257.525798
  2023-11-24  247.360001  256.821798
  2023-11-27  247.389999  256.186598

  [700 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'CMCSA': {'min': Timestamp('2021-01-14 00:00:00'),
  'max': Timestamp('2023-09-19 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2021-01-14  49.580002    49.9400
  2021-01-15  48.689999    50.0614
  2021-01-19  48.849998    50.1644
  2021-01-20  48.880001    50.2550
  2021-01-21  49.130001    50.3470
  ...               ...        ...
  2023-09-12  45.189999    44.5108
  2023-09-13  45.189999    44.5794
  2023-09-14  45.970001    44.6692
  2023-09-15  45.340000    44.7518
  2023-09-18  45.639999    44.8360

  [673 rows x 2 columns],
  'Realized Capital Gain & Loss': -109.05},
 'COST': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-11-08 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-17  358.040009  364.597801
  2021-02-18  356.920013  364.267601
  2021-02-19  354.769989  363.896401
  2021-02-22  350.209991  363.348601
  2021-02-23  342.149994  362.705801
  ...                ...         ...
  2023-11-01  556.799988  556.506805
  2023-11-02  555.969971  556.809005
  2023-11-03  560.900024  557.392805
  2023-11-06  569.820007  558.109005
  2023-11-07  571.270020  558.810605

  [687 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'CRM': {'min': Timestamp('2021-08-30 00:00:00'),
  'max': Timestamp('2023-09-06 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-08-30  264.970001  247.486800
  2021-08-31  265.269989  247.902600
  2021-09-01  268.320007  248.406800
  2021-09-02  264.149994  248.853000
  2021-09-03  267.079987  249.319200
  ...                ...         ...
  2023-08-29  211.960007  215.816799
  2023-08-30  215.039993  215.778199
  2023-08-31  221.460007  216.015599
  2023-09-01  221.529999  216.180399
  2023-09-05  218.690002  216.352400

  [507 rows x 2 columns],
  'Realized Capital Gain & Loss': -133.55},
 'CRON': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2021-02-17 00:00:00'),
  'price': Empty DataFrame
  Columns: [Close, 50_day_MA]
  Index: [],
  'Realized Capital Gain & Loss': -0.83},
 'CVS': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2021-09-27 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2021-02-17  72.709999    72.1554
  2021-02-18  71.519997    72.0958
  2021-02-19  70.419998    72.0316
  2021-02-22  70.480003    71.9640
  2021-02-23  69.639999    71.8862
  ...               ...        ...
  2021-09-20  84.580002    83.8342
  2021-09-21  83.930000    83.8764
  2021-09-22  83.860001    83.9204
  2021-09-23  84.860001    83.9692
  2021-09-24  84.709999    84.0220

  [154 rows x 2 columns],
  'Realized Capital Gain & Loss': 257.69},
 'CWEN': {'min': Timestamp('2020-10-08 00:00:00'),
  'max': Timestamp('2023-11-28 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-10-08  30.760000    25.7082
  2020-10-09  30.740000    25.8358
  2020-10-12  29.980000    25.9446
  2020-10-13  29.540001    26.0424
  2020-10-14  29.540001    26.1342
  ...               ...        ...
  2023-11-20  22.690001    22.2594
  2023-11-21  22.719999    22.2244
  2023-11-22  23.000000    22.1874
  2023-11-24  22.730000    22.1386
  2023-11-27  22.870001    22.0888

  [789 rows x 2 columns],
  'Realized Capital Gain & Loss': -38.67},
 'DIS': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-04-03 00:00:00'),
  'price':                  Close  50_day_MA
  Date
  2021-02-17  186.440002   174.4828
  2021-02-18  183.000000   175.0600
  2021-02-19  183.649994   175.6594
  2021-02-22  191.759995   176.4202
  2021-02-23  197.089996   177.2734
  ...                ...        ...
  2023-03-27   95.620003   102.1518
  2023-03-28   94.820000   102.0602
  2023-03-29   96.870003   101.9994
  2023-03-30   98.099998   101.9806
  2023-03-31  100.129997   102.0016

  [535 rows x 2 columns],
  'Realized Capital Gain & Loss': -1201.33},
 'DLR': {'min': Timestamp('2020-10-22 00:00:00'),
  'max': Timestamp('2023-12-05 00:00:00'),
  'price':                  Close  50_day_MA
  Date
  2020-10-22  152.300003   150.9400
  2020-10-23  152.600006   150.9492
  2020-10-26  152.669998   150.9362
  2020-10-27  150.660004   150.8190
  2020-10-28  149.880005   150.6874
  ...                ...        ...
  2023-11-28  136.899994   125.1898
  2023-11-29  138.199997   125.4140
  2023-11-30  138.779999   125.6282
  2023-12-01  138.610001   125.9216
  2023-12-04  137.770004   126.2122

  [784 rows x 2 columns],
  'Realized Capital Gain & Loss': -441.14},
 'ECL': {'min': Timestamp('2021-02-01 00:00:00'),
  'max': Timestamp('2023-08-23 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-01  208.429993  217.127200
  2021-02-02  210.279999  217.144000
  2021-02-03  208.970001  217.104800
  2021-02-04  208.130005  217.054200
  2021-02-05  212.779999  217.031400
  ...                ...         ...
  2023-08-16  182.300003  183.431201
  2023-08-17  180.990005  183.587401
  2023-08-18  179.350006  183.669401
  2023-08-21  180.470001  183.739201
  2023-08-22  180.550003  183.800601

  [644 rows x 2 columns],
  'Realized Capital Gain & Loss': -99.34},
 'EXPE': {'min': Timestamp('2020-05-29 00:00:00'),
  'max': Timestamp('2023-01-30 00:00:00'),
  'price':                  Close  50_day_MA
  Date
  2020-05-29   79.480003    64.5236
  2020-06-01   82.419998    65.2034
  2020-06-02   84.220001    65.9118
  2020-06-03   89.139999    66.6776
  2020-06-04   89.879997    67.2856
  ...                ...        ...
  2023-01-23  115.730003    96.3666
  2023-01-24  115.169998    96.8888
  2023-01-25  116.440002    97.2368
  2023-01-26  116.730003    97.5156
  2023-01-27  116.180000    97.8670

  [672 rows x 2 columns],
  'Realized Capital Gain & Loss': 238.29},
 'EXR': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-10-10 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-17  117.779999  113.922200
  2021-02-18  118.330002  114.001801
  2021-02-19  119.629997  114.094400
  2021-02-22  120.739998  114.237600
  2021-02-23  126.500000  114.517600
  ...                ...         ...
  2023-10-03  116.790001  128.760800
  2023-10-04  116.370003  128.184800
  2023-10-05  116.570000  127.625000
  2023-10-06  118.519997  127.155600
  2023-10-09  120.669998  126.752200

  [666 rows x 2 columns],
  'Realized Capital Gain & Loss': -322.25},
 'FSLY': {'min': Timestamp('2020-06-30 00:00:00'),
  'max': Timestamp('2021-04-13 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-06-30  85.129997    44.1722
  2020-07-01  86.449997    45.4582
  2020-07-02  84.510002    46.6768
  2020-07-06  84.370003    47.9140
  2020-07-07  87.510002    49.2052
  ...               ...        ...
  2021-04-06  70.449997    83.5604
  2021-04-07  67.550003    82.8072
  2021-04-08  68.750000    82.0424
  2021-04-09  67.860001    81.2200
  2021-04-12  68.919998    80.4076

  [197 rows x 2 columns],
  'Realized Capital Gain & Loss': -266.68},
 'GMRE': {'min': Timestamp('2023-04-10 00:00:00'),
  'max': Timestamp('2023-12-01 00:00:00'),
  'price':             Close  50_day_MA
  Date
  2023-04-10   9.23     9.9132
  2023-04-11   9.37     9.8818
  2023-04-12   9.33     9.8500
  2023-04-13   9.31     9.8116
  2023-04-14   9.25     9.7696
  ...           ...        ...
  2023-11-24   9.79     9.0762
  2023-11-27   9.88     9.0816
  2023-11-28   9.93     9.0910
  2023-11-29   9.97     9.0998
  2023-11-30  10.03     9.1096

  [164 rows x 2 columns],
  'Realized Capital Gain & Loss': 0.0},
 'GOOD': {'min': Timestamp('2020-08-28 00:00:00'),
  'max': Timestamp('2023-11-10 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-08-28  19.270000    18.4340
  2020-08-31  19.610001    18.4550
  2020-09-01  18.730000    18.4606
  2020-09-02  18.889999    18.4660
  2020-09-03  18.860001    18.4842
  ...               ...        ...
  2023-11-03  12.660000    12.4508
  2023-11-06  12.530000    12.4398
  2023-11-07  12.110000    12.4180
  2023-11-08  12.080000    12.3936
  2023-11-09  11.810000    12.3626

  [806 rows x 2 columns],
  'Realized Capital Gain & Loss': -1385.96},
 'GOOGL': {'min': Timestamp('2020-06-30 00:00:00'),
  'max': Timestamp('2020-06-30 00:00:00'),
  'price': Empty DataFrame
  Columns: [Close, 50_day_MA]
  Index: [],
  'Realized Capital Gain & Loss': 0.0},
 'HASI': {'min': Timestamp('2020-09-29 00:00:00'),
  'max': Timestamp('2023-10-09 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-09-29  41.880001    38.9754
  2020-09-30  42.270000    39.1392
  2020-10-01  43.099998    39.3082
  2020-10-02  43.180000    39.4862
  2020-10-05  44.029999    39.6956
  ...               ...        ...
  2023-10-02  19.680000    23.2630
  2023-10-03  16.500000    23.0394
  2023-10-04  15.420000    22.8030
  2023-10-05  14.360000    22.5494
  2023-10-06  14.420000    22.3116

  [761 rows x 2 columns],
  'Realized Capital Gain & Loss': -3391.86},
 'HD': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-11-17 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2021-02-17  280.920013  271.979200
  2021-02-18  283.049988  272.360400
  2021-02-19  279.640015  272.700400
  2021-02-22  275.850006  272.983000
  2021-02-23  267.239990  273.016200
  ...                ...         ...
  2023-11-10  291.589996  301.232799
  2023-11-13  288.070007  300.332599
  2023-11-14  303.630005  299.849600
  2023-11-15  308.190002  299.493400
  2023-11-16  306.440002  299.053799

  [694 rows x 2 columns],
  'Realized Capital Gain & Loss': -32.23},
 'HI': {'min': Timestamp('2020-11-16 00:00:00'),
  'max': Timestamp('2023-11-07 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2020-11-16  35.910000    30.1572
  2020-11-17  36.110001    30.2736
  2020-11-18  36.110001    30.3844
  2020-11-19  36.040001    30.5060
  2020-11-20  36.349998    30.6404
  ...               ...        ...
  2023-10-31  38.029999    42.6316
  2023-11-01  38.259998    42.4906
  2023-11-02  39.369999    42.3482
  2023-11-03  40.470001    42.2334
  2023-11-06  39.700001    42.0934

  [748 rows x 2 columns],
  'Realized Capital Gain & Loss': 267.58},
 'HON': {'min': Timestamp('2021-01-28 00:00:00'),
  'max': Timestamp('2023-08-23 00:00:00'),
  'price':                  Close  50_day_MA
  Date
  2021-01-28  202.839996   208.1422
  2021-01-29  195.369995   207.8778
  2021-02-01  195.559998   207.6824
  2021-02-02  200.119995   207.6626
  2021-02-03  199.139999   207.5910
  ...                ...        ...
  2023-08-16  186.490005   200.1742
  2023-08-17  185.979996   199.9670
  2023-08-18  186.580002   199.7308
  2023-08-21  186.949997   199.5068
  2023-08-22  186.009995   199.2692

  [646 rows x 2 columns],
  'Realized Capital Gain & Loss': -84.02},
 'HRZN': {'min': Timestamp('2021-06-24 00:00:00'),
  'max': Timestamp('2023-11-17 00:00:00'),
  'price':                 Close  50_day_MA
  Date
  2021-06-24  17.440001    16.6278
  2021-06-25  17.320000    16.6374
  2021-06-28  17.240000    16.6340
  2021-06-29  17.090000    16.6576
  2021-06-30  17.270000    16.6740
  ...               ...        ...
  2023-11-10  12.120000    11.7866
  2023-11-13  12.180000    11.7902
  2023-11-14  12.370000    11.7990
  2023-11-15  12.240000    11.8084
  2023-11-16  11.970000    11.8134

  [605 rows x 2 columns],
  'Realized Capital Gain & Loss': -379.07},
 'ICE': {'min': Timestamp('2021-02-17 00:00:00'),
  'max': Timestamp('2023-11-29 00:00:00'),
  'price':                  Close  50_day_MA
  Date
  2021-02-17  112.779999   113.0222
  2021-02-18  113.860001   113.1148
  2021-02-19  113.349998   113.1762
  2021-02-22  111.720001   113.2094
  2021-02-23  111.419998   113.2344
  ...                ...        ...
  2023-11-21  113.449997   110.2056
  2023-11-22  114.320000   110.1566
  2023-11-24  114.389999   110.1064
  2023-11-27  113.139999   110.0548
  2023-11-28  112.779999   109.9926

  [701 rows x 2 columns],
  'Realized Capital Gain & Loss': 146.38},
 'INTU': {'min': Timestamp('2023-10-10 00:00:00'),
  'max': Timestamp('2023-11-27 00:00:00'),
  'price':                  Close   50_day_MA
  Date
  2023-10-10  540.109985  517.902399
  2023-10-11  541.580017  518.563999
  2023-10-12  543.409973  519.471199
  2023-10-13  533.049988  520.192598
  2023-10-16  540.900024  521.070999
  2023-10-17  538.780029  521.741399
  2023-10-18  527.419983  522.273599
  2023-10-19  521.520020  522.769999
  2023-10-20  506.809998  522.876799
  2023-10-23  504.029999  523.001999
  2023-10-24  505.820007  523.002399
  2023-10-25  483.029999  522.719399
  2023-10-26  479.450012  522.395400
  2023-10-27  479.519989  522.256799
  2023-10-30  487.500000  522.287599
  2023-10-31  494.950012  522.421400

In [58]:
colormap = cm.get_cmap('RdYlGn')
def get_color(value, minValue, maxValue, colormap):
    norm = plt.Normalize(vmin=minValue, vmax=maxValue)
    return colormap(norm(value))

C:\Users\84515\AppData\Local\Temp\ipykernel_31292\3310250405.py:1: MatplotlibDeprecationWarning: The get_cmap function was deprecated in Matplotlib 3.7 and will be removed in 3.11. Use ``matplotlib.colormaps[name]`` or ``matplotlib.colormaps.get_cmap()`` or ``pyplot.get_cmap()`` instead.
  colormap = cm.get_cmap('RdYlGn')

In [74]:
tickers = list(stockPrice.keys())
realizedCapitalGainAndLoss = [item['Realized Capital Gain & Loss']for item in stockPrice.values()]
minRealizedCapitalGainAndLoss = min(realizedCapitalGainAndLoss)
maxRealizedCapitalGainAndLoss = max(realizedCapitalGainAndLoss)

for index, ticker in enumerate(tickers):
    data = stockPrice[ticker]
    color = get_color(data['Realized Capital Gain & Loss'], minRealizedCapitalGainAndLoss, maxRealizedCapitalGainAndLoss, colormap)

(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.827450980392157), np.float64(0.9271049596309113), np.float64(0.5298731257208766), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.7725490196078434), np.float64(0.9034217608612073), np.float64(0.49434832756632074), np.float64(1.0))
(np.float64(0.8685121107266437), np.float64(0.9446366782006921), np.float64(0.5690888119953865), np.float64(1.0))
(np.float64(0.958246828143022), np.float64(0.43744713571703187), np.float64(0.267358708189158), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8860438292964246), np.float64(0.9520184544405998), np.float64(0.5930795847750866), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8918877354863515), np.float64(0.954479046520569), np.float64(0.6010765090349867), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.7647058823529416), np.float64(0.9000384467512497), np.float64(0.48927335640138436), np.float64(1.0))
(np.float64(0.8626682045367168), np.float64(0.9421760861207229), np.float64(0.5610918877354865), np.float64(1.0))
(np.float64(0.9954632833525567), np.float64(0.8476739715494039), np.float64(0.519261822376009), np.float64(1.0))
(np.float64(0.9678585159554018), np.float64(0.9864667435601692), np.float64(0.7050365244136871), np.float64(1.0))
(np.float64(0.8801999231064978), np.float64(0.9495578623606307), np.float64(0.5850826605151869), np.float64(1.0))
(np.float64(0.7725490196078434), np.float64(0.9034217608612073), np.float64(0.49434832756632074), np.float64(1.0))
(np.float64(0.938638985005767), np.float64(0.9741637831603229), np.float64(0.6650519031141869), np.float64(1.0))
(np.float64(0.9269511726259132), np.float64(0.9692425990003845), np.float64(0.6490580545943868), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.9942329873125721), np.float64(0.7861591695501728), np.float64(0.46758938869665495), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.6470588235294118), np.float64(0.0), np.float64(0.14901960784313725), np.float64(1.0))
(np.float64(0.8626682045367168), np.float64(0.9421760861207229), np.float64(0.5610918877354865), np.float64(1.0))
(np.float64(0.7647058823529416), np.float64(0.9000384467512497), np.float64(0.48927335640138436), np.float64(1.0))
(np.float64(0.8743560169165707), np.float64(0.9470972702806614), np.float64(0.5770857362552866), np.float64(1.0))
(np.float64(0.9561707035755479), np.float64(0.9815455594002307), np.float64(0.689042675893887), np.float64(1.0))
(np.float64(0.8039215686274512), np.float64(0.9169550173010381), np.float64(0.514648212226067), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.7882352941176473), np.float64(0.9101883890811228), np.float64(0.5044982698961938), np.float64(1.0))
(np.float64(0.6941176470588237), np.float64(0.8695886197616303), np.float64(0.44359861591695515), np.float64(1.0))
(np.float64(0.8196078431372551), np.float64(0.9237216455209536), np.float64(0.5247981545559401), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.9991541714725106), np.float64(0.9737793156478277), np.float64(0.7050365244136869), np.float64(1.0))
(np.float64(0.7960784313725492), np.float64(0.9135717031910805), np.float64(0.5095732410611304), np.float64(1.0))
(np.float64(0.9973087274125336), np.float64(0.9165705497885429), np.float64(0.6090734332948865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.0), np.float64(0.40784313725490196), np.float64(0.21568627450980393), np.float64(1.0))
(np.float64(0.9912341407151096), np.float64(0.9963091118800461), np.float64(0.7370242214532872), np.float64(1.0))
(np.float64(0.3181853133410227), np.float64(0.7013456362937331), np.float64(0.36778162245290275), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.9211072664359863), np.float64(0.9667820069204153), np.float64(0.6410611303344869), np.float64(1.0))
(np.float64(0.9950019223375625), np.float64(0.8246059207996924), np.float64(0.4998846597462514), np.float64(1.0))
(np.float64(0.9970011534025375), np.float64(0.907035755478662), np.float64(0.5930795847750865), np.float64(1.0))
(np.float64(0.7960784313725492), np.float64(0.9135717031910805), np.float64(0.5095732410611304), np.float64(1.0))
(np.float64(0.9327950788158401), np.float64(0.9717031910803537), np.float64(0.6570549788542869), np.float64(1.0))
(np.float64(0.8352941176470591), np.float64(0.930488273740869), np.float64(0.5349480968858132), np.float64(1.0))
(np.float64(0.9345636293733179), np.float64(0.38054594386774315), np.float64(0.24121491733948483), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.6362168396770479), np.float64(0.8445213379469437), np.float64(0.4140715109573242), np.float64(1.0))
(np.float64(0.9479430988081508), np.float64(0.40868896578239133), np.float64(0.2541330257593233), np.float64(1.0))
(np.float64(0.8743560169165707), np.float64(0.9470972702806614), np.float64(0.5770857362552866), np.float64(1.0))
(np.float64(0.831603229527105), np.float64(0.17716262975778546), np.float64(0.15271049596309114), np.float64(1.0))
(np.float64(0.6941176470588237), np.float64(0.8695886197616303), np.float64(0.44359861591695515), np.float64(1.0))
(np.float64(0.7803921568627453), np.float64(0.906805074971165), np.float64(0.49942329873125735), np.float64(1.0))
(np.float64(0.9748558246828143), np.float64(0.5574009996155325), np.float64(0.32272202998846594), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8117647058823532), np.float64(0.9203383314109959), np.float64(0.5197231833910035), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8117647058823532), np.float64(0.9203383314109959), np.float64(0.5197231833910035), np.float64(1.0))
(np.float64(0.9982314494425221), np.float64(0.9451749327181853), np.float64(0.6570549788542868), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.8626682045367168), np.float64(0.9421760861207229), np.float64(0.5610918877354865), np.float64(1.0))
(np.float64(0.8568242983467899), np.float64(0.9397154940407536), np.float64(0.5530949634755865), np.float64(1.0))
(np.float64(0.7803921568627453), np.float64(0.906805074971165), np.float64(0.49942329873125735), np.float64(1.0))
(np.float64(0.7568627450980394), np.float64(0.8966551326412919), np.float64(0.48419838523644765), np.float64(1.0))
(np.float64(0.8918877354863515), np.float64(0.954479046520569), np.float64(0.6010765090349867), np.float64(1.0))
(np.float64(0.8685121107266437), np.float64(0.9446366782006921), np.float64(0.5690888119953865), np.float64(1.0))
(np.float64(0.7176470588235296), np.float64(0.8797385620915034), np.float64(0.45882352941176485), np.float64(1.0))
(np.float64(0.7019607843137257), np.float64(0.8729719338715879), np.float64(0.44867358708189176), np.float64(1.0))
(np.float64(0.5574778931180318), np.float64(0.8100730488273742), np.float64(0.4054594386774318), np.float64(1.0))
(np.float64(0.9327950788158401), np.float64(0.9717031910803537), np.float64(0.6570549788542869), np.float64(1.0))

In [76]:
realizedCapitalGainAndLoss = [item['Realized Capital Gain & Loss']for item in stockPrice.values()]